/* UI SKELETON */

#grid-container {
    display: inline-grid;
    grid-template-columns: 200px 300px 100px;
    column-gap: 20px;
}

#footer-container {
    background-color: #D6B1A1;
}

#personal-inner {
    margin: 10px;
}

#modul-container {
    position: relative;
    background-color: #eee;
    width: 700px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
}

#footer-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}

#save-button {
    position: absolute;
    margin-top: 10px;
    margin-bottom: 10px;
}

.p-title {
    margin-top: 2px;
    margin-left: 5px;
}


/* TIME PICKER STYLES */

#time-picker {
    overflow: auto;
    height: 250px;
    width: 130px;
}

.time-picker-button {
    width: 100%;
    margin-bottom: 2px;
}

.selected-time {
    background-color: red;
}

/* CALENDAR STYLES */

.date-picker {
    display: inline-block;
    position: relative;
}

#calendar {
    max-width: 300px;
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    padding: 10px;
}

.calendar-header {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.calendar-days {
    display: flex;
}

.day {
    flex: 1;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

.calendar-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
}

.date {
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

    .date:hover {
        color: #D6B1A1;
    }

    .date.past:hover {
        color: #aaa;
    }

.disabled {
    color: #ccc;
    cursor: not-allowed;
}

.past {
    color: #aaa;
    cursor: not-allowed;
}

.selected-day {
    background-color: red;
}
