@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable< Bbb.HelloWorld3Bbb.HelloWorld3.Models.Item >>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers


<div id="Items-@Dnn.ModuleContext.ModuleId">
    <p>Helloooooo World!!</p>
</div>
